.conteudo__button {
    margin: 2em 0em 4em 0em;
    padding: 1.5em;

    border: solid #12182B;
    border-radius: 5px;

    cursor: pointer;
}

.conteudo_avancado {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

    height: 200px;
    width: 200px;
}

.conteudo__button_avancado {
    margin-top: 2em;
    padding: 1em;

    border: none;
    border-radius: 50%;

    overflow: hidden;
    background: linear-gradient(to right, #ffdd4a, #ff5e00 50%, #BEEF9E 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;

    cursor: pointer;
}

.conteudo__button_avancado:hover {
    background-position: 0 100%;
}

.conteudo__button_padrao {
    margin-top: 2em;
    padding: 1em;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}
