.conteudo__button {
    margin: 2em 0em 4em 0em;
    padding: 1.5em;

    border: solid #12182B;
    border-radius: 5px;

    cursor: pointer;
}

.conteudo__button_avancado {
    margin-top: 2em;
    padding: 1em;

    border: none;
    border-radius: 50%;

    transition: background-color 1s ease-out;
}
