.controladores {
    display: grid;

    margin-top: 1em;

    grid-template-areas:
        "top"
        "bottom";
    grid-template-columns: 105px 105px;
    grid-row: auto auto;

    gap: 1em;
}

.controlador {
    border: none;
    border-radius: 5px;

    padding: 0.5em;
    outline: none;
}