.controladores {
    display: grid;

    margin-top: 1em;
    margin-bottom: 4em;
    
    grid-template-areas:
        "top"
        "bottom";
    grid-template-columns: 105px 105px;
    grid-template-rows: auto auto;

    gap: 1em;
}

.controladores_avancados {
    grid-template-columns: auto auto auto auto;
}

.controlador {
    border: none;
    border-radius: 5px;

    padding: 0.5em;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.controlador_avancado {
    width: 150px;
}