.projetos {
    padding-top: 1em;
}

.projetos__lista {
    display: grid;

    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: 40vh;

    gap: .5em;
}

.projetos__lista___item:nth-child(1) {
    display: flex;
    flex-grow: 1;

    align-items: flex-end;

    background: url("../images/bin2dec.png") center / cover no-repeat;
}

.projetos__titulo {
    text-align: center;

    width: 100%;

    padding: .6rem;

    background: rgba(0, 0, 0, 0.5);
    color: #EEE5E9;
}