body {
    display: grid;

    grid-template-areas:
        "cabecalho"
        "conteudo"
        "navegacao";
    grid-template-columns: auto;
    grid-template-rows: 20vh auto auto;
}

.cabecalho {
    display: flex;

    align-items: center;
    justify-content: center;

    grid-area: cabecalho;

    font-size: 2em;

    color: #EEE5E9;
    background-color: #161314;
}

.link {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    
    color: inherit;
}

.conteudo {
    display: flex;
    flex-direction: column;

    grid-area: conteudo;
    
    align-items: center;
    
    padding: 2em 0em 2em 0em;
    
    height: calc(80vh - 4em);
    
    font-size: 1.5em;

    color: #F7F3F5;
    background-color: #707070;
}
