.conteudo__div__roda_sorte {
    display: flex;

    height: 100%;
    width: 50%;
    
    justify-content: center;
    align-items: center;
}

.conteudo__roda_sorte {
    display: flex;
    border-radius: 50%;
    border: none;

    height: 85%;

    background: conic-gradient(red 90deg, blue 90deg 180deg, orange 180deg 270deg, black 270deg);

    /* -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite; */
}

.conteudo__girar {
    /* -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;  */
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.conteudo__roda_sorte_centro {
    border: none;
    border-radius: 50%;

    font-size: 100%;

    position: absolute;

    background-color: #E4F3E2;
}

.conteudo__div_nomes {
    position: absolute;

    overflow: hidden;

    border: 5px solid #E4F3E2;
    border-radius: 50%;
}

.span__name {
    position: absolute;

    font-size: 100%;
}

/* .span1 {
    transform: translate(5rem, 6rem) rotate(225deg);
}

.span2 {
    transform: translate(14rem, 6rem) rotate(-45deg);
}

.span3 {
    transform: translate(5rem, 16rem) rotate(-225deg);
}

.span4 {
    transform: translate(14rem, 16rem) rotate(45deg);
} */

.conteudo__div__opcoes {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 50%;
}

.conteudo__nomes {
    height: 25em;
    width: 20em;

    border: none;

    padding: 1em;
}

.conteudo__atualizar_botao {
    border: none;
    border-radius: 0.5em;

    padding: 1em;
}
