.conteudo__div__roda_sorte {
    display: flex;

    height: 100%;
    width: 50%;
    
    justify-content: center;
    align-items: center;
}

.conteudo__div__roda_sorte::after {
    content: url(../images/right-arrow.png);
    transform: scaleX(-1);
}

.svg_text {
    text-anchor: middle;
    dominant-baseline: central;
    font: 8px Calibri, Arial;

    user-select: none;
}

.conteudo__girar {
    cursor: default;
}

.conteudo__div__opcoes {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 50%;
}

.conteudo__nomes {
    height: 25em;
    width: 20em;

    border: none;

    padding: 1em;
}

.conteudo__atualizar_botao {
    border: none;
    border-radius: 0.5em;

    padding: 1em;
}
