.sorteio {
    cursor: pointer;

    -webkit-animation:spin-select 8s ease;
    -moz-animation:spin-select 8s ease;
    animation:spin-select 8s ease;

    transition: 5s all ease;
}

@-moz-keyframes spin-select { 
    100% { -moz-transform: rotate(90deg); } 
}
@-webkit-keyframes spin-select { 
    100% { -webkit-transform: rotate(90deg); } 
}
@keyframes spin-select { 
    100% { 
        -webkit-transform: rotate(90deg); 
        transform:rotate(90deg); 
    } 
}
